@use '../../../../../utilities/variables.module';

.my-calendar-wrapper {
  display: flex;
  height: 80vh;
  // border: 1px solid black;
  box-shadow: variables.$box-shadow;
  padding: 2rem 3rem;

  .calendar-wrapper {
    width: 100%;
    font-size: 1.2rem;

    .rbc-row-content {
      padding: 1rem 0;
    }
    // .rbc-event-allday {
    //   margin-top: 1rem;
    // }

    .rbc-allday-cell {
      height: unset;
    }

    .rbc-header {
      font-size: 1.8rem;
      padding: 1.5rem 0;
      background-color: variables.$dark-purple;
      color: white;
    }

    .rbc-agenda-table {
      .rbc-header {
        padding-left: 1rem;
      }
    }
  }
  .upcoming-webinar-wrapper {
    width: 50%;
    margin-left: 3rem;
    overflow: hidden;

    .upcoming-webinar {
      overflow: hidden auto;
      height: 100%;
    }
    .webinar-wrapper {
      margin-left: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}

@media (max-width: 1000px) {
  .my-calendar-wrapper {
    flex-direction: column;
    height: 160vh;

    .upcoming-webinar-wrapper {
      margin-top: 3rem;
    }
  }
}
