@use '../../../../../utilities/variables.module';

.my-calendar-wrapper {
  display: flex;
  height: 80vh;
  // border: 1px solid black;
  box-shadow: variables.$box-shadow;
  padding: 2rem 3rem;

  .calendar-wrapper {
    width: 100%;
  }
  .upcoming-webinar-wrapper {
    width: 50%;
    margin-left: 3rem;
    overflow: hidden auto;

    .webinar-wrapper {
      margin-left: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}
