@use '../../../utilities/variables.module';

$left-margin: 1.2em;

// @keyframes name-of-animation{

//   0%
//   transform: rotate(0deg)
//   100%
//   transform: rotate(360deg)
// }

.shrink {
  transform: scaleY(0);
}

.expand {
  transform: scaleY(1);
}

.home-navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-size: 1.33em;
  font-size: 1.8rem;
  padding: 15px 3.65em;
  margin-bottom: 2.3em;

  a {
    text-decoration: none;
  }

  > * {
    color: variables.$light-purple;
  }
}

.home-logo-wrapper {
  display: flex;
  img {
    height: 25px;
    margin-right: 5px;
  }

  span {
    font-size: 2.4rem;
    font-weight: 560;
    align-self: center;
    color: black;
  }
}

.home-categories-wrapper {
  position: relative;
  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }

  span {
    padding: 0 1.2em;
    color: variables.$light-purple;
  }

  .home-categories-selection {
    display: none;
    position: absolute;
    top: 200%;
    left: 10px;
    height: 200px;
    background-color: variables.$light-purple;
  }

  &:hover {
    .home-categories-selection {
      display: block;
    }
  }
}

.link-to-home {
  margin: 0 2em 0 2em;
}

.change-mode-button {
  flex-shrink: 0;
}

.home-navbar-wrapper .change-host-button {
  flex-shrink: 0;
  button {
    border: none;
    color: white;
    border-radius: 90px;
    background-color: variables.$dark-purple;
    padding: 2px $left-margin;
  }
}

.user-profile-wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  a {
    text-decoration: none;
    color: variables.$light-purple;
  }
}

.home-language-selection {
  margin-left: $left-margin;
}

@media (max-width: 1000px) {
  .change-mode-button {
    display: none;
  }
}

@media (max-width: 850px) {
  .link-to-home {
    display: none;
  }
} ;
