@font-face {
  font-family: Archivo;
  src: url('../../../assets/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}

body {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

section .ImageBackdrop{
  position: absolute;
  top:0;
  left: 0;
  width: 25%;
}

section .ImageBackdropRight{
  position: absolute;
  bottom:0;
  right: 0;
  width: 25%;
}

section .Content {
  z-index: 10;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Content .BoxSignin {
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px;
  display: flex;
  width: 90%;
  background-color: white;
}

.BoxSignin .Image {
  width: 45vh;
}

.BoxSignin .Image img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  object-position: 80%;
}

.Input {
  width: 55vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 40px 30px 40px 50px;
  box-shadow: -10px 0px 60px 40px white;
}

.Input .Topic {
  font-size: 3.6em;
  font-weight: bold;
  color: #5e5de4;
}

.FormGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1.4em;
}

.FormGroup label {
  font-weight: bold;
  font-size: 1.1em;
}

.FormGroup input {
  margin-top: 5px;
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid whitesmoke;
  outline: none;
}

.FormGroup input::placeholder {
  color: #bcbcbc;
}

.FormGroup input:focus {
  border-bottom: 2px solid #5e5de4;
}

.WrapperRemember {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
}

.WrapperRemember input {
  width: 20px;
  height: 20px;
}

.WrapperRemember .Remember {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.WrapperRemember .Remember p {
  margin-left: 5px;
}

.WrapperSignInButton {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.WrapperSignInButton button {
  padding: 10px 50px;
  border: none;
  background-color: #5e5de4;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.4em;
}

.WrapperLine {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WrapperLine hr {
  width: 48%;
  background-color: #bcbcbc;
  margin: 0;
}

.WrapperLine p {
  font-size: 1.8em;
  padding: 0px 10px;
}

.WrapperButton {
  margin-top: 15px;
  width: 100%;
}

.WrapperButton button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #5e5de4;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.WrapperSignUp {
  margin-top: 15px;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.WrapperSignUp button{
  border:none;
  background-color:transparent;
}

.WrapperSignUp button:hover{
  color:#5e5de4;
}

@media (max-width : 768px){
  .Input{
    box-shadow: 0px 0px 10px 2px #bcbcbc;
    width: 100%;
    padding:40px 30px;
  }

  .BoxSignin .Image{
    display: none;
  }
}