.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3px;
  margin-right: 20px;
}

.barContainer {
  width: 100%;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
}

.RatingPoint {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 5px;

  & > :first-child {
    margin-right: 2px;
  }

  span {
    margin-right: 5px;
  }
}
