  .TopicInformation {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  label{
    font-weight: bold;
  }
  
  .checkbox{
    margin-top: 20px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .checkbox > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox input{
    width: 20px;
    height: 20px;
  }
  
  .checkbox p{
    font-size: 1.3em;
    padding-left: 10px;
  }
  
