.e-certificate-main-wrapper {
  h3 {
    margin: 0 0 1rem;
  }
}

.e-certificate-content-wrapper {
  display: flex;
}

.e-certificate-list-wrapper {
  .home-search-bar-wrapper {
    width: 40rem;
  }
  width: 100%;
}
