  .TopicInformation{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  label{
    font-weight: bold;
  }
  
  .InputDescription{
    width: 100%;
    min-height: 15rem;
    font-size: 1.3rem;
    padding:5px;
    border:2px solid #bcbcbc !important;
    margin-top: 5px;
  }
  
  .GroupForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }