.RegisterWebinar {
  width: min-content;
  min-width: 100rem; //ini sesuain kebutuhan
  margin: 0 auto;
  border: 1px solid black;

  display: flex;
  margin-top: 5rem;
}

.ImageContainer {
  img {
    height: 100%;
  }
  height: 60rem;
}
