.home-search-bar-wrapper {
  position: relative;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 9999px;
  background-color: #eee;
  margin: 0 1.2rem;

  .home-search-form {
    display: flex;
    align-items: center;
    padding: 0 1em;
    button {
      border: none;

      svg {
        height: 1.2em;
        margin: auto;
        width: 100%;
        vertical-align: middle;
      }
    }
    input {
      background-color: transparent;
      border: none;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }

  .home-search-result {
    position: absolute;
    transform: scaleY(0);
    top: 120%;
    width: 100%;
    left: 0;
    height: 200px;
    background-color: red;
  }

  .expand {
    transform: scaleY(1);
  }
}
