.leftBtn, .rightBtn{
    position: absolute;
    border-radius: 50%;
    width: 3.4em;
    height: 3.4em;
    box-shadow: 0px 0px 10px 0px #bcbcbc;
    background-color:white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.leftBtn{
    bottom: 0;
    left: 42%;
}

.rightBtn{
    top: 0;
    left: 42%;
    transform:scaleY(-1);
}