.TopicWaiting{
    font-size: 4em;
    margin:0;
    color:#5e5de4;
}

.ContainerPayment{
    width: 100%;
    padding:50px 300px;
}

.PaymentBox{
    padding:70px 160px;
    box-shadow: 0px 0px 5px 0px #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PaymentBox > p{
    margin-top: 10px;
    font-size: 2.5em;
    letter-spacing: 0.05em;
}

.Timer{
    margin-top: 20px;
    display: flex;
}

.Day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.Timer > p{
    font-size: 6em;
    padding:20px 0px;
    font-weight: bold;
    color:green;
}

.Day p:first-child{
    font-size: 6em;
    color:green;
    font-weight: bold;
}

.Day p:last-child{
    font-size: 3em;
    font-weight: bold;
}

ol{
    margin-top:10px;
}

ol li{
    padding:5px;
    font-size:1.8em;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button button {
    margin-top: 40px;
    padding: 15px 60px;
    border-radius: 50px;
    border: none;
    font-size: 2.3em;
    color: white;
    background-color: #5e5de4;
  }
  
  button:hover {
    cursor: pointer;
  }
  

@media (max-width : 1280px){
    .ContainerPayment{
        padding:50px 200px;
    }
}

@media (max-width : 1024px){
    .ContainerPayment{
        padding:50px 100px;
    }
}

@media (max-width : 990px){
    .PaymentBox{
        padding:70px 100px; 
    }
}

@media (max-width : 769px){
    .ContainerPayment{
        padding:50px 50px;
    }

    .PaymentBox{
        padding:70px 70px;
    }
}

@media (max-width : 578px){
    .ContainerPayment{
        padding:30px 30px;
    }

    .PaymentBox{
        padding:40px 20px;
    }
    
    .TopicWaiting{
        font-size: 3em;
    }

    .PaymentBox > p{
        font-size: 1.7em;
    }

    .Timer{
        margin-top:10px;
    }

    .Timer > p{
        font-size: 4em;
        padding:13px 0px;
    }

    .Day{
        padding:15px;
    }

    .Day p:first-child{
        font-size: 4em;
    }

    .Day p:last-child{
        font-size: 1.5em;
    }

    ol{
        padding-left: 20px;
    }

    ol li{
        font-size: 1.3em;
    }

    .button button{
        font-size: 1.3em;
        margin-top:10px;
    }
}