@use '../../utilities/variables.module';

.webinar-table-wrapper {
  border-spacing: 0 15px;

  margin-left: 2.6rem;
  font-size: 1.8rem;
  width: 100%;
  font-size: 1.8rem;

  .home-search-bar-wrapper {
    margin-left: 0;
    width: 40rem;
    margin-bottom: 1.5rem;
  }

  .webinar-table-overflow {
    height: 70rem;
    overflow-y: scroll;
  }

  h6 {
    font-size: 1em;
    color: variables.$dark-purple;
  }

  .table-header {
    // position: sticky;
    // top: 0;
    .name {
      width: 1%;
    }
    .column {
      padding-bottom: 1rem;
    }
  }
}

.webinar-table-information-wrapper {
  display: table;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  .row {
    vertical-align: middle;
    display: table-row;
  }

  .column {
    vertical-align: middle;
    display: table-cell;
  }
}
