@use '../../../../../utilities/variables.module';

.host-statistic-wrapper h3 {
  margin-top: 0;
}

.host-statistic-content-wrapper {
  display: flex;
  box-shadow: variables.$box-shadow;
}
